.markdown-alert {
  color: inherit;
  border-left: .25em solid #d1d9e0;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
}

.markdown-alert-title {
  display: flex;
  align-items: center;
  line-height: 1;
  font-weight: 500;
}

/*
Since the PDF generator does not support "@page" or margin-right, use margin-left instead.
Originally, we would like to do the following:
```css
  .markdown-alert-title > :first-child {
    margin-right: 0.5rem;
  }
```
*/
.markdown-alert-title > :nth-child(2) {
  margin-left: 0.5rem;
}

.markdown-alert-warning {
  border-left-color: #9a6700;
}

.markdown-alert-warning .markdown-alert-title {
  color: #9a6700;
  fill: #9a6700;
}

.markdown-alert-note {
  border-left-color: #0969da;
}

.markdown-alert-note .markdown-alert-title {
  color: #0969da;
  fill: #0969da;
}

.markdown-alert-important {
  border-left-color: #8250df;
}

.markdown-alert-important .markdown-alert-title {
  color: #8250df;
  fill: #8250df;
}

.markdown-alert-tip {
  border-left-color: #1a7f37;
}

.markdown-alert-tip .markdown-alert-title {
  color: #1a7f37;
  fill: #1a7f37;
}

.markdown-alert-caution {
  border-left-color: #cf222e;
}

.markdown-alert-caution .markdown-alert-title {
  color: #cf222e;
  fill: #cf222e;
}
